.Search
  .Search_main
    = form_with url: search_posts_path, local: true, method: :get, class: "search-form" do |form|
      = form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input"
      = form.submit "検索", class: "search-btn"
    .contents.row
      
    - @posts.each do |post|
      .Title
        = post.title
      
      .User_name
      = link_to user_path(post.user_id) do
        投稿者：
        = User.find_by(id: post.user_id).name
      .Book_info
        .Book_info__image
          画像
        .Book_info__content
          = post.content
.Footer
        
        
        
        